# <center> Assignment-1 (AI4LR)
Total Points: 50

In [1]:
Your_Name = "V N D S R Prasad Jettiboina"
Your_Email_id = "prasadjv99@gmail.com"

### Q1 (2 points)
Which of the following statements is used to terminate the statement ?

> A. Next
 
> B. Switch

> C. Break

> D. With

In [2]:
# print your answer. for ex if your answer is B
# print("B")
#for i in range(10):
#   if i==5:
#      break
#   print(i,end=' ')
#Output:0 1 2 3 4 
#Breaks when i = 5
print("C")

C

### Q2 (2 points)
For the below code, specify the datatype of variable X,

X = 'achgd7698'

> A. Complex 

> B. String 

> C. Integer

> D. Boolean

In [3]:
# print your answer.
#ype(X) or type('achgd7698')
print("B")

B

### Q3 (2 points)
Consider the if-elseif-else statement, how many elseif are possible between if and else statements?

> A. 1

> B. 0

> C. Multiple

> D. None of the above

In [4]:
# print your answer.
#We can construct any number of if else ladder 
#Starting with if() -- mandatory
#Ending with else() -- Optional
#We can have multiple elif() statements
print("C")

C

### Q4 (2 points)
What will be the data type of variable 'C' after executing this code ?

A = 5

B = 6

C = print(A/B)
 
> A. Float

> B. None-type

> C. Int

> D. Object

In [5]:
# print your answer.
#type(C)
#'/' operator is for regular division gives exact value with decimal -- Float
print("A")

A

### Q5 (5 points)
Write a function that takes any number N as input and returns the square of that number.

In [6]:
# complete the code below

def fibonacci(N):
    
    
    return N**2


N = int(input())

print("The square of N is: ", fibonacci(N))
#print("The square of {} is: ".format(N), fibonacci(N)) -- The square of 9 is: 81 (in place of N we get it's value)

9
The square of N is:  81

### Q6 (8 points)
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included). 
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [7]:
# write your solution here

#I'm writing it in 3 different styles
#1 Using lambda function
#2 Using noraml for loop
#3 Using Generator expression
###in 1 and 2 printing list, using for loop is to eliminate last ','###
'''
#Style1
a=list(filter(lambda n:(n%7==0 and n%5!=0),range(2000,3200+1)))
n=len(a)
for i in range(n):
    if(i==n-1):
        print(a[i])
    else:
        print(a[i],end=',')

#Style2
a=[]
for i in range(2000,3200+1):
    if(i%7==0 and i%5!=0):
        a.append(i)
n=len(a)
for i in range(n):
    if(i==n-1):
        print(a[i])
    else:
        print(a[i],end=',')
'''
#Style3
print(*(i for i in list(range(2000,3200+1)) if (i%7==0 and i%5!=0)), sep=',', end='')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

### Q7 (5 points)
Write a Python program to accept the user's first and last name and then get them printed in the reverse order with a space between first name and last name.

In [8]:
# write your code here
#reverse of a string can be obtained simply by using ::-1
first_name = input('Please enter your first name')
last_name = input('Please enter your last name')

print(first_name[::-1]+' '+last_name[::-1])
#the above print is (rev(firstname)+space+rev(lastname))
#if u mean (lastname+space+firstname) the statement will be
#print(last_name+' '+first_name)

Please enter your first nameV N D S R Prasad
Please enter your last nameJettiboina
dasarP R S D N V aniobitteJ

### Q8 (3 points)
Given this given nested list, use indexing to grab and print the word "hello".

In [9]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

# print the word 'hello' using list indexing 
print(lst[3][1][2][0])

hello

### Q9 (3 points)
Write a program to get the index of 'abc' in the list a =['bca', 'cba', 'abc']

In [10]:
#Write your program here and print index as the output
a =['bca', 'cba', 'abc']
print(a.index('abc'))

2

### Q10 (5 points)
Write a program to print the following using while loop

> a. First 10 Even numbers

> b. First 10 Odd numbers

In [11]:
c=1
i=0
while(c<=10):
    if(i%2==0):
        print('{}.even number:'.format(c),i)
        c=c+1
    i=i+1
print()
c=1
i=0
while(c<=10):
    if(i%2!=0):
        print('{}.odd number:'.format(c),i)
        c=c+1
    i=i+1
#to write both in a single while loop
# e=1
# o=1
# i=0
# while(e<=10 or o<=10):
#     if(i%2!=0):
#         print('{}.odd number:'.format(o),i)
#         o=o+1
#     if(i%2==0):
#         print('{}.even number:'.format(e),i)
#         e=e+1
#     i=i+1

1.even number: 0
2.even number: 2
3.even number: 4
4.even number: 6
5.even number: 8
6.even number: 10
7.even number: 12
8.even number: 14
9.even number: 16
10.even number: 18

1.odd number: 1
2.odd number: 3
3.odd number: 5
4.odd number: 7
5.odd number: 9
6.odd number: 11
7.odd number: 13
8.odd number: 15
9.odd number: 17
10.odd number: 19

### Q11 (3 points)
For the given program


```
number = 5
while number <= 5:
    if number < 5:
        number = number + 1
    print(number)
```



* A. The program will loop indefinitely
* B. The value of number will be printed exactly 1 time
* C. The while loop will never get executed
* D. The value of number will be printed exactly 5 times

In [12]:
# print your answer here
#infinite loop coz 'number' wont get updated and while loop will runs continuously coz statement is always true 5<=5
print("A")

A

### Q12 (5 points)

Share your views on the upcoming Moon Missions. Do you think ISRO will succed with Chandrayaan-3? (Explain in Atleast 100 words)

In [17]:
# print your answer

my_answer = "The interesting upcoming Moon Mission is Artemis.\nThe primary goal of Artemis is to return humans to the Moon, specifically the lunar south pole, by 2025.\n\nChandrayaan-1(Oct,2008) discovered traces of water on the moon and it was a pathbreaking discovery.\nChandrayaan-2(Jul,2019) tried to widen research by way of soft landing on the Moon and deploying a rover to study the lunar surface.\nBut, the Vikram lander, of the Chandrayaan 2 mission, crashed on the lunar surface on September 2019, but the scientists founded it on December.Still, its delivering critical observations to India as it completes 9000+ orbits around the Moon.\nChandrayaan-3, follow-up of Chandrayaan-2 and very similar also, is planned to launch on 2023, it tries to overcome the challenges faced in Chandrayaan-2 so, the main goal it to have a soft landing on the moon.\nIn Chandrayaan-3 the changes include updated software and algorithms, strengthening of the legs and better power and communication systems.\nIn Chandrayaan3 we can see they are using LDV-Laser Doppler Velocimetry(used to measure the instantaneous velocity of a flow field) for better measurement of speed while landing.\nISRO is very confident on Chandrayaan-3 as they made all required changes tho have a soft landing on moon..\nI think this time they will get success. Let's Hope so. Hail India :)"

print(my_answer)

The interesting upcoming Moon Mission is Artemis.
The primary goal of Artemis is to return humans to the Moon, specifically the lunar south pole, by 2025.

Chandrayaan-1(Oct,2008) discovered traces of water on the moon and it was a pathbreaking discovery.
Chandrayaan-2(Jul,2019) tried to widen research by way of soft landing on the Moon and deploying a rover to study the lunar surface.
But, the Vikram lander, of the Chandrayaan 2 mission, crashed on the lunar surface on September 2019, but the scientists founded it on December.Still, its delivering critical observations to India as it completes 9000+ orbits around the Moon.
Chandrayaan-3, follow-up of Chandrayaan-2 and very similar also, is planned to launch on 2023, it tries to overcome the challenges faced in Chandrayaan-2 so, the main goal it to have a soft landing on the moon.
In Chandrayaan-3 the changes include updated software and algorithms, strengthening of the legs and better power and communication systems.
In Chandrayaan3 we can see they are using LDV-Laser Doppler Velocimetry(used to measure the instantaneous velocity of a flow field) for better measurement of speed while landing.
ISRO is very confident on Chandrayaan-3 as they made all required changes tho have a soft landing on moon..
I think this time they will get success. Let's Hope so. Hail India :)

### Q13 (5 points)

Describe your experience while learning python so far. Now that you are somewhat familiar with this tool, can you name some more use cases and examples where we can use python. (Atleast 150 words)

In [14]:
# print your answer

my_answer = "I learned python in my 2nd year of B.Tech and my competitive programming skills geared up as python is simple and easy(lol to be frank we can get done with very few lines of code).\nThen we started some learning groups in our college there we planned to learn trending technologies like Machine learning and Data Science there we choose python as a language to learn those skills then our opinion towards python has changes we see python as a magic as it has many wonderful libraries to work with.\nIn our final year project we used python to build an app and in our free times we do some crazy works using python like automation of some repetitive tasks done by PC.\nIn my opinion python is a Magic we can do anything we want\nPython is used for\n1.Competitive Programming\n2.Building apps\n3.Machine Learning, Deep Learning, Artificial Intelligence\n4.Data Science\n5.Automation and Scripting\n6.Simply Everything lol"

print(my_answer)

I learned python in my 2nd year of B.Tech and my competitive programming skills geared up as python is simple and easy(lol to be frank we can get done with very few lines of code).
Then we started some learning groups in our college there we planned to learn trending technologies like Machine learning and Data Science there we choose python as a language to learn those skills then our opinion towards python has changes we see python as a magic as it has many wonderful libraries to work with.
In our final year project we used python to build an app and in our free times we do some crazy works using python like automation of some repetitive tasks done by PC.
In my opinion python is a Magic we can do anything we want
Python is used for
1.Competitive Programming
2.Building apps
3.Machine Learning, Deep Learning, Artificial Intelligence
4.Data Science
5.Automation and Scripting
6.Simply Everything lol

### Q14 (Bonus)
Tell us anything very interesting. And try asking a very intelligent question.

In [15]:
# print your answer

my_answer = "The Sun is not on fire!!!The Sun doesn't burn means there are no flames.\nThere is no Oxygen in space. Fire needs Oxygen. The Sun is fueled by thermonuclear fusion reactions. Fire is a chemical reaction.\nQuestion: How u going to validate these notebooks? By looking it manually or have u written any automation script for it in Python :)?"

print(my_answer)

The Sun is not on fire!!!The Sun doesn't burn means there are no flames.
There is no Oxygen in space. Fire needs Oxygen. The Sun is fueled by thermonuclear fusion reactions. Fire is a chemical reaction.
Question: How u going to validate these notebooks? By looking it manually or have u written any automation script for it in Python :)?

## Thank you for completing all the questions


#### Download your notebook and submit it in the google form