## Welcome to Week 1 Session 3 - Advanced Python
*   Branching and looping
*   Functions
*   Lambda
*   MapReduce
*   Broadcasting

# Branching and Looping 
* Branching is useful to perform operations based on the conditional checks
* Looping is helpful to perform an operation mutiple times based on the conditional checks

### Conditional statements
In conditional statements we use comparison operators (equals to ==, greater than >, less than <, not equals !=, greater than or equal >=, Less than or equal =) to compare values in two variables, Logical operators (and, or) to check mutiple conditions, Logical operator (not) to negate the boolean values.

Keywords in Branching: if, elif, else, break, continue, return

In [ ]:
# Lets read compare two numbers using conditional statements and comparison operators
a=5
b=9

if a==b:
    print('{} is equal to {}'.format(a,b))
elif a>b:
    print('{} is greater than {}'.format(a,b))
else:
    print('{} is Less than {}'.format(a,b))

In [ ]:
# Ternary operations or short hand conditional expressions
print('{} is equal to {}'.format(a,b)) if a==b else print('{} is greater than to {}'.format(a,b)) if a>b else print('{} is Less than to {}'.format(a,b))

In [ ]:
# Usage of logical operators to check mutiple conditions, Nested if else.
if a==b and a%2 == 0:
    print('both a and b has {} and its even'.format(a))
else:
    if a%2 == 0:
        print('a has {} and its even'.format(a))
    else:
        print('a has {} and its odd'.format(a))
    if b%2 == 0:
        print('b has {} and its even'.format(b))
    else:
        print('b has {} and its odd'.format(b))

In [ ]:
# Conditional Statements using Comparison and Logical Operator
a = 5
b = 10
c =5

if (a > 5):
    print("a > 5")
    if(a == c):
        print("a=c")
elif (a < 5):
    print("a <5")
    if(a == c):
        print("a=c")
else:
    print("a = 5")
    if(a == c):
        print("a=c")

### Looping

In general, statements are executed sequentially: The first statement in a function is executed first, followed by the second, and so on. There may be a situation when you need to execute a block of code several number of times.

Programming languages provide various control structures that allow for more complicated execution paths.

Available loops in python are for and while

## While loop

The while loop in Python is used to iterate over a block of code as long as the test expression (condition) is true.

We generally use this loop when we don't know beforehand, the number of times to iterate.

In while loop, test expression is checked first. The body of the loop is entered only if the test_expression evaluates to True. After one iteration, the test expression is checked again. This process continues until the test_expression evaluates to False.

In Python, the body of the while loop is determined through indentation.

Body starts with indentation and the first unindented line marks the end.

Python interprets any non-zero value as True. None and 0 are interpreted as False.

In [ ]:
# Print list of odd numbers by taking start and ending numbers of sequence from use. Take input as comma separated text
inp = input()

start, end = inp.split(',')
start = int(start)
end=int(end)

print('Odd numbers between {} and {} are:'.format(start, end), end=' ')

i= start
seq_sum=0
while i < end+1:
    print(i,end=' ') if (i%2)!=0 else print('\t', end=' ')
    if i%2!=0: seq_sum+=i
    i +=1

print('\nsum of odd numbers in the sequence is: ', seq_sum)

## For Loop
The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects. Iterating over a sequence is called traversal.

Loop continues until we reach the last item in the sequence. The body of for loop is separated from the rest of the code using indentation.

A for loop can have an optional else block as well. The else part is executed if the items in the sequence used in for loop exhausts

break statement can be used to stop a for loop. In such case, the else part is ignored.

Hence, a for loop's else part runs if no break occurs.

Here is an example to illustrate this.

In [ ]:
print('Odd numbers between {} and {} are:'.format(start, end), end=' ')
seq_sum=0
for i in range(start,end+1):
    print(i,end=' ') if (i%2)!=0 else print('\t', end=' ')
    if i%2!=0: seq_sum+=i
else:
    print('\nsum of odd numbers in the sequence is: ', seq_sum)

In [ ]:
for number in range(0,4):
    if number == 3:
        break
else:
    print("No items left.")

print("Out of For loop")

# Functions

**So what is a function?**

* A function groups a set of statements together to run the statements more than once. 
* It allows us to specify parameters that can serve as inputs to the functions.
* Functions allow us to reuse the code instead of writing the code again and again. 
* If you recall strings and lists, remember that len() function is used to find the length of a string. 
* Since checking the length of a sequence is a common task, you would want to write a function that can do this repeatedly at command.
* Function is one of the most basic levels of reusing code in Python, and it will also allow us to start thinking of program design.

## def Statements

Now, let us learn how to build a function and what is the syntax in Python.

The syntax for def statements will be in the following form:

In [ ]:
# Skeleton for function defnition. Functions use indentation to identify the code that is part of function
def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (doc-string) goes
    '''
    # Do stuff here
    #return desired result

* We begin with def then a space followed by the name of the function. 
* Try to keep names relevant and simple as possible, for example, len() is a good name for a length() function. 
* Also be careful with names, you wouldn't want to call a function the same name as a [built-in function in Python](https://docs.python.org/2/library/functions.html) (such as len).

* Next, comes the number of arguments separated by a comma within a pair of parenthesis which acts as input to the defined function,  reference them and the function definition with a colon.  

* Here comes the important step to indent to begin the code inside the defined functions properly. 

After all this, you can begin writing the code you wish to execute.

The best way to learn functions is by going through examples. So let's try to analyze and understand examples that relate back to the various objects and data structures we learned.

## Example 1: Simple print hello function

In [ ]:
# Define a function to print hello
def say_hello():
    print('hello')

In [ ]:
# call the function
say_hello()

hello

### Example 2: A simple greeting function
Let's write a function that greets people with their name.

In [ ]:
# Define a funtion that takes input parameters
def greeting(name):
    print('Hello %d' %name)

In [ ]:
x = greeting(90)

Hello 90

In [ ]:
x

## Using return
Let's see some examples that use a return statement. Return allows a function to "return" a result that can then be stored as a variable, or used in whatever manner a user wants.

### Example 3: Addition function

In [ ]:
# define a function that takes input parameters and returns output
def add_num(num1,num2):
    return num1+num2

In [ ]:
# Invoke the function
add_num(4,5)

9

In [ ]:
# Can also save as variable due to return
result = add_num(4,5)
result

9

In [ ]:
print(result)

9

In [ ]:
# What if we inter two different things

print(add_num('one',1))

TypeError: ignored

In Python we don't declare variable types, this function could be used to add numbers or sequences together! Going forward, We'll learn about adding in checks to make sure a user puts in the correct arguments into a function.

Let's also start using *break*,*continue*, and *pass* statements in our code. We introduced these during the while lecture.

### Break

The break statement terminates the loop containing it. Control of the program flows to the statement immediately after the body of the loop.

If break statement is inside a nested loop (loop inside another loop), break will terminate the innermost loop.

In [ ]:
# define a function to check if the given number is prime. We are using break to stop the loop if the number is having atleast one factor
def is_prime(num):
    '''
    Naive method of checking for primes. 
    '''
    for n in range(2,num):
        if num % n == 0:
            print('not prime')
            break
    else: # If never mod zero, then prime
        print('prime')

In [ ]:
# invoke the prime function to check if 17 is prime
is_prime(17)

prime

### continue
The continue statement is used to skip the rest of the code inside a loop for the current iteration only. Loop does not terminate but continues on with the next iteration.

In [ ]:
# Continue statement breaks the loop for current iteration and transfers the control to loop for next iteration
for val in "string":
    if val == "i":
        continue
    print(val)

print("The end")

s
t
r
n
g
The end

#### Note:
- Break - terminates complete loop
- Continue - terminates current iteration of loop and trnasfers the control to loop to continue with next iteration

## Week 1 Session 3 - Advanced Python
* **Branching and looping - done**
* **Functions- done** 
* Lambda
* MapReduce
* Broadcasting

## lambda expression

One of Pythons most useful (and for beginners, confusing) tools is the lambda expression. lambda expressions allow us to create "anonymous" functions. This basically means we can quickly make ad-hoc functions without needing to properly define a function using def.

Function objects returned by running lambda expressions work exactly the same as those created and assigned by defs. There is key difference that makes lambda useful in specialized roles:

**lambda's body is a single expression, not a block of statements.**

* The lambda's body is similar to what we would put in a def body's return statement. We simply type the result as an expression instead of explicitly returning it. Because it is limited to an expression, a lambda is less general that a def. We can only squeeze design, to limit program nesting. lambda is designed for coding simple functions, and def handles the larger tasks.

Lets slowly break down a lambda expression by deconstructing a function:

In [ ]:
# define a function that takes a number as input and prints square the number
def square(num):
    result = num**2
    return result

In [ ]:
# call square function
square(6)

36

We could simplify it:

In [ ]:
def square(num):
    return num**2

In [ ]:
square(5)

25

We could actually even write this all on one line.

In [ ]:
def square(num): return num**2

In [ ]:
square(6)

36

This is the form a function that a lambda expression intends to replicate. A lambda expression can then be written as:

In [ ]:
lambda num: num ** 2

In [ ]:
# You wouldn't usually assign a name to a lambda expression, this is just for demonstration!
square = lambda num: num **2

In [ ]:
square(2)

4

**So why would use this?**

Many function calls need a function passed in, such as map and filter. Often you only need to use the function you are passing in once, so instead of formally defining it, you just use the lambda expression.


## Week 1 Session 3 - Advanced Python
* **Branching and looping - done**
* **Functions- done** 
* **Lambda- done**
* MapReduce
* Broadcasting

# Map Function

The **map** function allows you to "map" a function to an iterable object. That is to say you can quickly call the same function to every item in an iterable, such as a list. Map returns an iterable as output but we can cast it as any of the sequence like list, tuple and set. For example: 

map(funtion,sequence)

In [ ]:
# Square function that takes a number and returns it square
def square(num):
    return num**2

In [ ]:
my_nums = [1,2,3,4,5]

In [ ]:
map(square,my_nums)

In [ ]:
# To get the results, either iterate through map() 
# or just cast to a list

list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [ ]:
# As mentioned earlier we can use lambda expressions as function and get the same output.
list(map(lambda num: num ** 2, my_nums))

[1, 4, 9, 16, 25]

In [ ]:
# Example 2: More complex
# splicer function takes a string input and returns even when string length is even else it returns first character of string
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'even'
    else:
        return mystring[0]

In [ ]:
mynames = ['John','Cindy','Sarah','Kelly','Mike']

In [ ]:
list(map(splicer,mynames))

['even', 'C', 'S', 'K', 'even']

#### Note:
Map functions have one element as output for each element provided as input. In other words the length of input and output sequences will be the same.

## Week 1 Session 3 - Advanced Python

* **Branching and looping - done**
* **Functions- done** 
* **Lambda- done**
* **MapReduce- done**
* Broadcasting

## filter function

The filter function returns an iterator yielding those items of iterable for which function(item) is true. Meaning you need to filter by a function that returns either True or False. Then passing that into filter (along with your iterable) and you will get back only the results that would return True when passed to the function.

filter(function,sequence)

In [ ]:
# funtion takes a number as input and returns the number if number is even
def check_even(num):
    return num % 2 == 0

In [ ]:
nums = [0,1,2,3,4,5,6,7,8,9,10]

In [ ]:
filter(check_even,nums)

In [ ]:
list(filter(check_even,nums))

[0, 2, 4, 6, 8, 10]

In [ ]:
# Implementing the same using lambda expressions
list(filter(lambda n: n % 2 == 0,nums))

[0, 2, 4, 6, 8, 10]

#### Note:
Filter functions can have fewer elements in output sequence when compared to input sequence. In other words the length of input is greater than that of output sequences length.

In [ ]:
# Example summary
ssum = lambda x,y : x + y
ssum(3,4)

7

## Broadcasting

NumPy arrays differ from normal Python lists because of their ability to broadcast.

With lists, you can only reassign parts of a list with new parts of the same size and shape. That is, if you wanted to replace the first 5 elements in a list with a new value, you would have to pass in a new 5 element list. 

With NumPy arrays, you can broadcast a single value across a larger set of values: known as broadcasting

In [ ]:
import numpy as np

In [ ]:
x=np.array([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,257,128,256])

In [ ]:
# Assign 10 to elements from 0 to 5(Excluded)
x[0:5] = 10
x

array([ 10,  10,  10,  10,  10,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17, 257, 128, 256])

In [ ]:
# if you want to assign all the value same number so,

x[:] = 90
x

array([90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90,
       90, 90, 90])

![image.png]()

In [ ]:
#application of broadcasting
a = np.array([17, 11, 19]) # 1x3 Dimension array
print(a)
b = 3 
print(b)

[17 11 19]
3

In [ ]:

c = a + b
print(c)

[20 14 22]

## Week 1 Session 3 - Advanced Python completed
* **Branching and looping - done**
* **Functions- done** 
* **Lambda-done**
* **MapReduce-done**
* **Broadcasting- done**