# <center> Assignment-1 (AI4LR)
Total Points: 50

In [ ]:
Your_Name = ""
Your_Email_id = ""

### Q1 (2 points)
Which of the following statements is used to terminate the statement ?

> A. Next
 
> B. Switch

> C. Break

> D. With

In [ ]:
# print your answer. for ex if your answer is B
# print("B")

print("C")

C

### Q2 (2 points)
For the below code, specify the datatype of variable X,

X = 'achgd7698'

> A. Complex 

> B. String 

> C. Integer

> D. Boolean

In [ ]:
# print your answer.
print("B")

B

### Q3 (2 points)
Consider the if-elseif-else statement, how many elseif are possible between if and else statements?

> A. 1

> B. 0

> C. Multiple

> D. None of the above

In [ ]:
# print your answer.

print("C")

C

### Q4 (2 points)
What will be the data type of variable 'C' after executing this code ?

A = 5

B = 6

C = print(A/B)
 
> A. Float

> B. None-type

> C. Int

> D. Object

In [ ]:
# print your answer.

print("B")

B

### Q5 (5 points)
Write a function that takes any number N as input and returns the square of that number.

In [ ]:
# complete the code below

def fibonacci(N):
    result = N**2
    
    return result 


N = int(input())

print("The square of N is: ", fibonacci(N))

# the function name is fibonacci, just to confuse

The square of N is:  4

### Q6 (8 points)
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included). 
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# write your solution here
list =[]
for i in range (2000,3201):
    if i%7==0 and i%5!=0:
        list.append(i)
print(",".join(map(str, list)))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

### Q7 (5 points)
Write a Python program to accept the user's first and last name and then get them printed in the reverse order with a space between first name and last name.

In [ ]:
# write your code here

first_name = input("Enter First Name ")
last_name = input("Enter Last Name ")

Name = (first_name+" "+last_name)
rev1 = Name[::-1]
rev2 = last_name + " " + first_name
print(rev1)
print(rev2)

# both are correct

vaday hsay
yadav yash

### Q8 (3 points)
Given this given nested list, use indexing to grab and print the word "hello".

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

# print the word 'hello' using list indexing 
print(lst[3][1][2][0])

hello

### Q9 (3 points)
Write a program to get the index of 'abc' in the list a =['bca', 'cba', 'abc']

In [ ]:
#Write your program here and print index as the output
a = ['bca','cba','abc']
print(a.index("abc"))

# or if only 2 is written, that's alright too

2

### Q10 (5 points)
Write a program to print the following using while loop

> a. First 10 Even numbers

> b. First 10 Odd numbers

In [ ]:
even = []
odd = []

num = 1

while num <= 10:
    even.append(2*num)
    odd.append(2*num - 1)
    
    num+=1
    
print('First 10 Even Numbers are :',even)
print('First 10 Odd Numbers are :',odd)

First 10 Even Numbers are : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
First 10 Odd Numbers are : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### Q11 (3 points)
For the given program


```
number = 5
while number <= 5:
    if number < 5:
        number = number + 1
    print(number)
```



* A. The program will loop indefinitely
* B. The value of number will be printed exactly 1 time
* C. The while loop will never get executed
* D. The value of number will be printed exactly 5 times

In [ ]:
# print your answer here

print("A")

A

### Q12 (5 points)

Share your views on the upcoming Moon Missions. Do you think ISRO will succed with Chandrayaan-3? (Explain in Atleast 100 words)

In [ ]:
# print your answer

my_answer = ""

print(my_answer)

### Q13 (5 points)

Describe your experience while learning python so far. Now that you are somewhat familiar with this tool, can you name some more use cases and examples where we can use python. (Atleast 150 words)

In [ ]:
# print your answer

my_answer = ""

print(my_answer)

### Q14 (Bonus)
Tell us anything very interesting. And try asking a very intelligent question.

In [ ]:
# print your answer

my_answer = ""

print(my_answer)

## Thank you for completing all the questions


#### Download your notebook and submit it in the google form